
{#
/**
 * @file
 * Default theme implementation to display a single Drupal page.
 */
 #}

<header class="main-header" role="banner">
  <div class="container">
    {{ page.header }}
  </div>
</header>


{% if page.mainnavigation %}
  {{ page.mainnavigation }}
{% endif %}


  <main role="main">
    <div class="container">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>{# /.layout-content #}

    {% if page.sidebar %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar }}
      </aside>
    {% endif %}
    </div>
  </main>



{% if page.footer %}
 <footer role="contentinfo">
  <div class="container">
      {{ page.footer }}
  </div>
    </footer>
{% endif %}